.converter_page {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .converter_page__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .converter_page__input_wrapper {
      display: flex;
      align-items: center;

      .converter_page__convert_button {
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        width: 200px;
        height: 50px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 700;
        font-size: medium;
        cursor: pointer;
      }
      .converter_page__convert_button:hover {
        border: 2px solid black;
      }
    }
    .converter_page__result_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
